<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:object="${product}" th:action="@{/edit/{id}(id=${product.id_Product})}" enctype="multipart/form-data">
    <input type="hidden" name="id" th:value="${product.id_Product}">
    <div class="form-group">
        <label for="name_product">Product name:</label>
        <input type="text" class="form-control" id="name_product" th:field="*{name_product}" required>
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" class="form-control" id="price" th:field="*{price}" required>
    </div>
    <div class="form-group">
        <label for="imgFile">Product image:</label>
        <input type="file" class="form-control-file" id="imgFile" name="imgFile" required>
    </div>
    <div class="form-group">
        <label for="content">Product content:</label>
        <input type="text" class="form-control" id="content" th:field="*{content}" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</body>
</html>