<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    img{
      width: 300px;
      height: 300px;
    }
  </style>
</head>
<body>

<div class="container">
  <h2>Account Manager</h2>
  <p>This is the account of <a href="pornhub.com">pornhub</a></p>
  <a th:href="@{/account/create}">Add account</a>
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Username</th>
      <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="a:${account}">
      <td><img th:src="${a.avatar}"  alt=""></td>
      <td th:text="${a.username}"></td>
      <td th:text="${a.password}"></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>